<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>MIDIHero requires access to the data transmited from a Guitar Hero(R) Bluetooth Low Energy Guitar Controller to process and generate MIDI instructions..</string>
</dict>
</plist>
